body{
  background-image: url(back1.jpg);
}
*{
 margin: 0px;
 padding: 2px;
}

h1
{
  text-align:center;
  color:white;
}

ul
{
  border-radius:20px;
  overflow: hidden;
  margin-top:20px;
  background-color:orange;
}

li
{
  text-align: center;
  font-size:25px;
  font-family: monospace;
  font-weight: bold;
  float: right;
  margin: auto;
  display: block;
  color: white;
  padding: 25px;
}
